/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

 html{
   
    box-sizing: border-box;
 }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  .body{
    max-width: 1280px;
    position: relative;
  }
  /* start_header*/
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 1280px;
    background-color: white;

  }  .header_logo a{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-left: 83px;
margin-top: 36px;
font-family: 'inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
text-decoration: none;
color: #000;

  }
  .header_search_box a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
   
    
}
  .header_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 186px;
  }
 
  .header_navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  width: 578px;
  margin-right: 96px;
  margin-left: 296px;
}
.header_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header_search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #718096;
}
  .header_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  .header_item a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    
  }
  .header_home, .header_articles{
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
  }
.header_inside{
    margin-right: 34px;
}
.header_inside:last-child{
    margin-right: 0;
}

/* style hesder_list*/
.header_inside:hover,
 .header_inside:focus, 
.header_inside:active{
    opacity: .70;
}
.header_home:hover,
.header_home:focus,
.header_home:active{
    opacity: .70;
}
.header_articles:hover,
.header_articles:focus,
.header_articles:active{
    opacity: .70;
}
/* style hesder_list*/

/*end header*/

/* start main_content*/
.img_see_more{
    width: 973px;
    height: 380px;
    margin-left: 89px;
    margin-top: 109px;
}
.h1_topic{
    display: flex;
    flex-wrap: wrap;
    width: 632px;
    height: 46px;
    left: 192px;
    top: 531px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #2D3748;
}
.h2_topic{
    display: flex;
    flex-wrap: wrap;
width: 203px;
height: 23px;
left: 192px;
top: 596px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2D3748;
}
.span_date{
    display: flex;
    flex-wrap: wrap;
    width: 147px;
height: 23px;
left: 395px;
top: 596px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #718096;
}
.main_topic{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 41px;
    margin-left: 192px;

}
.date{
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
}
.border_line{
    margin-top: 30px;
    margin-left: 189px;
    width: 760px;
height: 0px;
left: 189px;
top: 649.5px;
border: 1px solid #E8E7E7;
}
.main_content{
    
    margin-top: 37px;
    width: 765px;
height: 1364px;
margin-left: 192px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #718096;

}
.strong{
    
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: rgba(45, 55, 72, 1);

}
.em{
    
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: rgba(45, 55, 72, 1);
}
.arrow{
    position: relative;
    margin-right: 75px;
    bottom: 77px;
    left: 1035px;
}
/* end main_content*/


/* footer start*/

.footer{
    position: relative;
    width: 1152px;
    height: 52px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 29px;
    margin-left: 89px;

}
.line{
    margin-top: 58px;
    width: 1152px;
    border: 1px solid #E8E8E8;
}
.footer_logo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}
   
.logo_strong{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;
}

.footer_list{
    display: flex;
    flex-wrap: wrap; 
    margin-right: 100px;
    margin-left: 497px;

}
.footer_item{
    display: flex;
    flex-wrap: wrap;
    margin-right: 34px;
}

.footer_item:hover, .footer_item:focus, .footer_item:active{
    opacity: .70;
}
/*footer end*/